<?xml version="1.0" encoding="UTF-8"?>
<!-- Deployment Descriptor for Apache Tomcat Version 9-->

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <servlet>
        <servlet-name>appUserServlet</servlet-name>
        <servlet-class>com.revature.servlet.AppUserServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>appUserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TaskListServlet</servlet-name>
        <servlet-class>com.revature.servlet.TaskListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskListServlet</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>

<!--    <listener>-->
<!--        <listener-class>com.revature.servlet.DependencyLoaderListener</listener-class>-->
<!--    </listener>-->

<!--    <listener>-->
<!--        <listener-class>com.revature.servlet.CacheInitializationListener</listener-class>-->
<!--    </listener>-->
    
</web-app>
